<% content_for :title, "Booking" %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
      $.datepicker.setDefaults({minDate: 0, maxDate: "+24M"});
      $( "#datepicker" ).datepicker({
          onSelect: function(dateText, inst) {
            inst.input.val(dateText);
            // console.log(dateText);
            
          }
      });
      // var sample = picker.val();
      // console.log(sample);
      // console.log(picker.val());
            
      // console.log(picker);
      // picker.onSelect()
    // var currentDate = $( "#datepicker" ).datepicker( "getDate" );
    // if (currentDate == null)
    //   console.log("TEST");
  } );
</script>
  
<div class="container">
  <div class="row">
    <h1 class="text-center gold-shadow">Booking </h1>
    <div id="booking-note" class="text-center">
      <p>
        <em>** Due to the varying requirements to be considered for each event, it is best to call for an accurate price quote **</em>
        &emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;<i class="fa fa-phone"></i> <b>847.791.0512</b>
      </p>
    </div>
    <hr>
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        
        <%= form_for @bookings do |f| %>
  
          <div class="form-group has-feedback">
            <%= f.label ("First Name *") %>
            <%= f.text_field :fname, class:'form-control' %>
            <i class="fa fa-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.label ("Last Name *") %>
            <%= f.text_field :lname, class:'form-control' %>
            <i class="fa fa-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.label ("Phone Number *") %>
            <%= f.text_field :phone, class:'form-control', placeholder: "###-###-####" %>
            <i class="fa fa-phone form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.label ("E-mail *") %>
            <%= f.text_field :email, class:'form-control' %>
            <i class="fa fa-envelope form-control-feedback"></i>
          </div>
          <div class="form-group relative">
            <%= f.label :company %>
            <%= f.text_field :company, class:'form-control', placeholder: "(optional)" %>
          </div>
          <div class="form-group">
            <%= f.label :date %>
            <%= f.text_field :date, id: "datepicker", 'data-provide': 'datepicker', style: 'width:50%', class:'form-control', placeholder: "Click here to select a date" %>
          </div>
          
          

          </div>
          
          <div class="form-group ">
            <%= f.label :details %>
            <%= f.text_area :details, style: 'max-width:100%', class:'form-control', placeholder: "Venue, Song Requests, Budget, Theme, etc" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class:'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
