<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have received a message from the site's booking form!</p>
    <p>First name: <%= "#{ @fname }" %>
    <p>Last name: <%= "#{ @lname }" %>
    <p>E-mail: <%= "#{ @email }." %></p>
    <p>Phone number: <%= @phone %></p>
    <p>Company: <%= @company %></p>
    <p>Type: <%= @type %></p>
    <p>Date: <%= @date %></p>
    <p>Details: <%= @details %></p>
  </body>
</html>