<div class="container text-center">
  <div class="row">
    <h1>Photos</h1>
      <div class="responsive">
        <div class="gallery">
          <div class="photo">
            <%= cl_image_tag("PaulReneePianoWedding.png", :client_hints=>true, :effect=>"art:zorro", :radius=>30, :width=>200, :crop=>"scale")%>
          </div>
          <div class="photo">
            <%= cl_image_tag("PaulGoofy1.png", :effect=>"art:zorro", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <div class="photo">
            <%= cl_image_tag("terra_sounds1.png", :client_hints=>true, :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <div class="photo">
            <%= cl_image_tag("psalm4.png", :effect=>"art:zorro", :radius=>30, :width=>200, :crop=>"scale")%>
          </div>
          <div class="photo">
            <%= cl_image_tag("PaulTanyaMelamedGroup1.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <div class="photo">
            <%= cl_image_tag("PaulChicagoSinglesClubPsalmOne.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <div class="photo">
            <%= cl_image_tag("ZeiserWedding1.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          
          <div class="photo">
            <%= cl_image_tag("paulPianoCandid1.png", :radius=>30, :width=>200, :crop=>"scale")%>
          </div>
          
          <div class="photo">
            <%= cl_image_tag("Paul_ZebraLounge_Red.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <div class="photo">
            <%= cl_image_tag("PaulBlue2.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <!--<div class="photo">-->
          <!--  <%= cl_image_tag("PaulBlue2.png", :radius=>30, :width=>200, :crop=>"scale") %>-->
          <!--</div>-->
          <div class="photo">
            <%= cl_image_tag("Paul2XASmiling1.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
          <div class="photo">
            <%= cl_image_tag("PaulStudio1.png", :radius=>30, :width=>200, :crop=>"scale")%>
          </div>
          <div class="photo">
            <%= cl_image_tag("PaulAtHugosRushSt.png", :radius=>30, :width=>200, :crop=>"scale") %>
          </div>
        </div>
      </div>
  </div>
</div>
