<!DOCTYPE html>
<html lang="en-us">
  <head>
    
    <title>PaulGoldmanMusic | <%= yield :title %> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://res.cloudinary.com/dl4upkour/image/upload/c_scale,e_brightness:100,w_112/v1485445956/Twitch_AVATAR.ico">
    
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Kanit|Bowlby+One+SC|PT+Serif|Signika+Negative|Special+Elite" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    
    
  </head>

  <body>
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class='container'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to root_path, class:"navbar-brand", title: "Home" do %>
            Home
          <% end %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->  
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to "About", about_path, title: "About" %></li>
            <li><%= link_to "Calendar", calendar_path, title: "Calendar" %></li>
            <li><%= link_to "Song List", songlist_path, title: "Song List" %></li>
            <!--<li class="dropdown">-->
            <!--  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<span class="caret"></span></a>-->
            <!--  <ul class="dropdown-menu navbar-default" id="media-dropdown">-->
                <!--<li><%= link_to "Photos", photos_path %></li>-->
            <li><%= link_to "Videos", video_path, title: "Video" %></li>
            <li><%= link_to "FAQ", faq_path, title: "FAQ" %></li>
            <li><%= link_to "Booking", new_booking_path, title: "Booking" %></li>
              <!--</ul>-->
            <!--</li>-->
            <li><%= link_to "Contact", new_contact_path, title: "Contact" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <div class="container flash-container">
       <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class:"alert alert-#{type}" %>
      <% end %>
    </div>

    <%= yield %>
    
    <footer>
      <div class="container">
        <div class="row text-center">
          <div id="footer-social" >
            <div class="social-popout">
              <a href="https://www.facebook.com/paulgoldmanmusic" target="blank" title="Facebook" >
                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                <!--<img src="https://res.cloudinary.com/dl4upkour/image/upload/v1490673674/facebook_social_logo.png" alt="Facebook"/>-->
              </a>
            </div>
            <div class="social-popout">
              <a href="https://twitter.com/goldman_paul" target="blank" alt="Twitter" title="Twitter">
                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
              </a>
            </div>
            <div class="social-popout">
              <a href="https://youtube.com/paulgoldmanmusic" target="blank" alt="Youtube" title="Youtube">
                <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
              </a>
            </div>
            <!--<div>-->
            <!--  <a href="https://twitch.tv/paulgoldmanmusic" target="blank" alt="Twitch.tv" title="Twitch.tv">-->
            <!--    <i class="fa fa-twitch fa-3x" aria-hidden="true"></i>-->
            <!--  </a>-->
            <!--</div>-->
            <div class="social-popout">
              <a href="https://www.linkedin.com/in/paulgoldmanmusic" target="blank" alt="LinkedIn" title="LinkedIn">
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div id="copyright-text" >
            <p class="gold">
              <a href="mailto:paul@paulgoldmanmusic.com">
                <span class="glyphicon glyphicon-envelope"></span> paul@paulgoldmanmusic.com</a>
                <br> &#169; 2017 Paul Goldman
            </p>
          </div>
          
        </div>
      </div>
      
    </footer>
  </body>
  
</html>
